

.gradient::after{
    display: block;
    position: relative;
    content: '';
    width: 100%;
    height: 150px;
    margin-top: -150px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #ffffff 100%);
}

.gradient img{
    width: 100%;
    height: 275px;
}

a.boton{
    text-decoration:none;
    font-weight: 100;
    font-size: 14px;
    color:#ffffff;
    background-color: #BF942D ;
}
a.boton:hover{
    color:#ffffff;
    background-color: #D9B153;
}
.boton{
    text-decoration:none;
    font-weight: 100;
    font-size: 14px;
    color:#ffffff;
    background-color: #BF942D ;
}
.boton:hover{
    color:#ffffff;
    background-color: #D9B153;
}
.botonAzul{
    text-decoration:none;
    font-weight: 100;
    font-size: 14px;
    color:#ffffff;
    background-color: #1790D7 ;
}
.botonAzul:hover{
    color:#ffffff;
    background-color: #0584CF;
}
.botonAmarillo{
    text-decoration:none;
    font-weight: 100;
    font-size: 14px;
    color:#ffffff;
    background-color: #ff9800 ;
}
.botonAmarillo:hover{
    color:#ffffff;
    background-color: #e68a00;
}
.text{
    margin-bottom: 24px;
    text-align: justify;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.bd-footer{
    background-color: #021E2F;
}
.space
hr{
   border:5px solid #021E2F ;
}
h2.head{
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 20px;
    background-color: #021E2F;
}
.color-header{
    background-color: rgba(0,0,0,.03);
    border-bottom-color: rgba(0, 0, 0, 0.125);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.space{
    margin-bottom: 10px;
}